* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(/Imagens/ps5.jpg);
   
}

h1 {
    text-align: center;
    font-size: 34px;
    font-family:Tahoma, sans-serif;
    color: aquamarine;
    
    
    
}

